<section class="mt-5">
    <pages-reservas-caja-reservar-mediante-fechas 
        (fechas)="buscarHabitacionesEntreFechas($event)">
    </pages-reservas-caja-reservar-mediante-fechas>
</section>

<!-- <div class="container">
    {{ objFechas.fechaInicio }}
    <br>
    {{ objFechas.fechaFin }}
</div> -->

<main class="py-5 bg-light d-flex justify-content-center">
    <div class="row container-fluid" *ngIf="listaTiposDeHabitaciones">
    
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of listaTiposDeHabitaciones">

            <!-- * este codigo es para una sola tarjeta -->
            <div class="card p-2 my-3">
                <img class="card-imagen" [src]="item.img_habitacion_base_64" [id]="item.categoria" alt="IMAGEN CARD">

                <h1 class="card-title mt-2 text-center">{{ item.categoria }}</h1>
                
                <div class="card-body">
                    <p class="card-text">{{ item.descripcion }}</p>
                </div>
                
                <div class="card-body" *ngIf="item.cantidad_de_habitaciones_disponibles">
                    <p class="card-text">Habitaciones disponibles restantes: <b>{{ item.cantidad_de_habitaciones_disponibles }}</b></p>
                </div>
                
                <!-- <button mat-button class="btn btn-primary" (click)="lala(item.id_tipo_de_habitacion)">Reservar</button> -->
                <button mat-button class="btn btn-primary" (click)="openDialog()">Reservar</button>
                
                <!-- fin div.card -->
            </div>

            <!-- fin div.ngfor -->
        </div>
    
        <!-- fin div.row -->
    </div>
    
</main>

<div class="row bg-light" *ngIf="fechasBuscadas == true && fechasEncontradas == false">
    <p class="col-12 text-center">No hay habitaciones disponibles para las fechas seleccionadas.</p>
</div>