/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-color: black;
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 99.946vh;
min-height: fit-content;
font-family: 'Numans', sans-serif;
overflow-y: hidden;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 30rem;
width: 30rem;
margin-top: auto;
margin-bottom: auto;
background-color: rgba(0,0,0,0.5) !important;
padding: 1rem;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.input-group-prepend span{
width: 50px;
background-color: #007bff;
color: black;
border:0 !important;
}

.color-invertido{
    filter: invert(1);
}
.posicion-fixed{
    position: relative;
    top: 0rem;
    left: -10rem;
}
.cursor-pointer{
    cursor: pointer;
}
