<div class="row">
    <div class="col-lg-7 col-12" *ngIf="misReservasHabitaciones">
        <h1>Reservas de habitaciones</h1>
        
        <div class="table">
            <thead>
                <tr>
                    <th>ÍNDICE</th>
                    <th>ID HABITACION</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of misReservasHabitaciones; let indice = index;">
                    <td class="text-center">{{ indice+1 }}</td>
                    <td class="text-center">{{ item.Id_Habitacion }}</td>
                    <td>{{ item.Fecha_Inicio }}</td>
                    <td>{{ item.Fecha_Fin }}</td>
                    <td>
                        <div class="btn btn-secondary" (click)="cancelarReservaHabitacion(item.Id_Habitacion)">Cancelar</div>
                    </td>
                </tr>
            </tbody>
        </div>
    
    </div>
    
    <div class="col-lg-4 col-12" *ngIf="misReservasServicios">
        <h1>Reservas de servicios</h1>
        
        <div class="table">
            <thead>
                <tr>
                    <th>ÍNDICE</th>
                    <th>ID RESERVA DE SERVICIO</th>
                    <th>ID SERVICIO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of misReservasServicios; let indice = index">
                    <td class="text-center">{{ indice+1 }}</td>
                    <td>{{ item.ID_RESERVA_SERVICIO }}</td>
                    <td>{{ item.ID_SERVICIO }}</td>
                    <td>
                        <div class="btn btn-secondary" (click)="cancelarReservaServicio(item.ID_RESERVA_SERVICIO)">Cancelar</div>
                    </td>
                </tr>
            </tbody>
        </div>
    
    </div>
    
</div>