<pages-home-carousel></pages-home-carousel>

<div class="container mt-lg-5 mt-sm-5">
    <p class="display-2 font-family-oswald">
        {{tituloHotel}}
    </p>
    <p>Dubái, Emiratos Árabes Unidos. Jumeirah Beach Road.</p>
</div>

<div class="container-fluid contenedor-imagen-texto">
    <div class="texto-imagen text-white">
        <h1 class="font-family-oswald">El hotel de tus sueños</h1>
        <p class="font-family-oswald subtitulo">Lujo Estatus Poder</p>
    </div>
    <img class="efecto-imagen mt-5 imagen-max-width" src="../../../assets/images/exterior-1.webp" alt="imagen-transicion">
</div>

<div class="container my-5 pt-5">
    <h1 class="text-center">Haz click en la imagen para visitar nuestras habitaciones</h1>
    <div class="d-flex justify-content-center">
        <button class="contenedor-imagenes" id="contenedor-imagenes-habitaciones" (click)="cambiarDePagina('contenedor-imagenes-habitaciones')">
            <img class="imagen-habitacion" *ngFor="let card of listaHabitacionCards" [src]="card.imgSrc" [id]="card.imgSrc">
        </button>
    </div>
</div>

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.82653274625!2d55.18278961500831!3d25.14155483392211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6a576414cf2d%3A0xb3da71b879f0e038!2sBurj%20Al%20Arab!5e0!3m2!1ses!2ses!4v1684407862190!5m2!1ses!2ses" width="400" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
